.container-audio .colum1 {
    height: 5em;
    border-radius: 5px;
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .container-audio .colum1:last-child {
    margin: 0;
  }
  .container-audio .colum1 .row {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to up, #7700aa, #8800ff);
    position: absolute;
    -webkit-animation: Rofa 5s infinite ease-in-out;
    animation: Rofa 5s infinite ease-in-out;
    bottom: 0;
  }

  .row{
      width: 5px !important;
  }
  .container-audio .colum1:nth-of-type(1) .row {
    -webkit-animation-delay: 3.99s;
    animation-delay: 3.99s;
  }
  .container-audio .colum1:nth-of-type(2) .row {
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s;
  }
  .container-audio .colum1:nth-of-type(3) .row {
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s;
  }
  .container-audio .colum1:nth-of-type(4) .row {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
  }
  .container-audio .colum1:nth-of-type(5) .row {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
  }
 

  @keyframes Rofa {
    0% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: yellow;
    }

    5% {
      height: 100%;
      -webkit-transform: translatey(15px);
      transform: translatey(0);
      background-color: fuchsia;
    }
    10% {
      height: 70%;
      transform: translatey(0);
      -webkit-transform: translatey(0);
      background-color: bisque;
    }

    15% {
      height: 80%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
    }
    20% {
      height: 95%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
    }
    25% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
    }
    30% {
      height: 70%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
    }
    35% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(100, 237, 219);
    }
    40% {
      height: 60%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
    }
    45% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
    }
    50% {
      height: 50%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
    }
    55% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(100, 228, 237);
    }
    60% {
      height: 40%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(164, 100, 237);
    }
    65% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
    }
    70% {
      height: 50%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
    }
    75% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(187, 100, 237);
    }
    80% {
      height: 30%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(100, 237, 173);
    }
    85% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(100, 198, 237);
    }
    90% {
      height: 50%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
    }
    95% {
      height: 80%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(121, 100, 237);
    }
    100% {
      height: 0;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: rgb(100, 237, 214);
    }
  }