@import '../components/card';

.content {
  background-color: $color-dark;
}

.song-slider {
  pointer-events: all;
  margin: 20px auto;
  padding: 15px;
  &-title {
    padding-left: 15px;
    color: $color-white !important;
  }
  &-track{
    @media (max-width:576px) {
      flex-wrap: wrap !important;
    }
  }
}
