@import '../constant';
@import '../components/copy-right';
@import '../components/scroll';
.sider {
  // border-right: 1px solid;
  min-width: 10px !important;
  min-height: 100vh;
  border-right: .5px solid rgba($color: $color-secondary, $alpha: 0.5);
  @include setBackground($color-dark);
  &-item {
    .title {
      padding-left: 30px;
      margin-bottom: 10px;
      cursor: default;
      h2{
        color: $color-white !important;
      }
    }
    .add-playlist {
      margin-left: 50px;
      color: $color-dark;
      font-weight: 600;
      padding: 1px 8px;
      border-radius: 8px 0;
      background-color: #3bdccc;
      cursor: pointer;
      font-size: inherit;
    }
  }
}
